.app{
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.card{
    box-shadow: 5px 10px gray;
}
.inpbox{
    border-radius: 14px;
    border: 1px solid black;
    margin: 5px;
}

.buttonn{
    border-radius: 14px;    
    border: 1px solid black ;
}

.image{
    background-image: url("../public/bd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
}